#map{width: 100%;}

#map, #sidebar {
  height: calc(100vh - 120px); 
}
#sidebar { overflow-y: scroll;}


.gm-style-iw-d, .gm-style-iw.gm-style-iw-c{margin: 0!important; padding: 0!important; overflow: hidden!important;}
.gm-style-iw-chr{position: absolute; top: 5px; right: 5px;}

.gm-ui-hover-effect{background: black!important; border-radius: 50px; width: 30px!important; height: 30px!important;}
.gm-ui-hover-effect > span{ margin: 3px!important; background-color: #fff;}