#map {
  width: 100%;
  height: calc(100vh - 120px) ;
}

.marker-window { max-width: 150px; }
.marker-window h4{ font-size: small; padding:1em ;}

.gm-style-iw-d, .gm-style-iw.gm-style-iw-c{margin: 0!important; padding: 0!important; overflow: hidden!important;}
.gm-style-iw-chr{position: absolute; top: 0; left: 0; width: 100%;}
